h1 = organization.name
nav.navbar.navbar-expand-lg.bg-light.justify-content-between.px-4
  .navbar-nav.ml-auto
    - if allowed_to?(:index?, with: UserPolicy)
      = link_to "Staff",
                organization_users_path(organization),
                data: { turbo: true, turbo_frame: "organization_content" },
                class: "nav-link"
    = link_to "Subjects",
              organization_subjects_path(organization),
              data: { turbo: true, turbo_frame: "organization_content" },
              class: "nav-link"
    = link_to "Field Of Study",
              organization_field_of_studies_path(organization),
              data: { turbo: true, turbo_frame: "organization_content" },
              class: "nav-link"
= turbo_frame_tag "organization_content"
