.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  padding: 5px;
  width: calc((100% - 32px) / 3);
}

.card-title {
  font-size: 30px;
  margin: 0 5px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  column-gap: 10px;
  display: flex;
  font-size: 24px;
}
