$gray: rgb(183, 182, 182);
$white: rgb(255, 255, 255);

button {
  background-color: transparent;
  border: 0;
}

abbr {
  color: $gray;
  font-size: small;
  font-style: italic;
}

.submit {
  margin-top: 10px;
}

.form-control {
  width: auto;
}

.new-button {
  margin-bottom: 10px;
}

.inline-form {
  align-items: flex-end;
  column-gap: 5px;
  display: flex;
  margin-bottom: 10px;
}

.search-form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-inputs {
  align-items: flex-end;
  column-gap: 5px;
  display: flex;
}

.search-reset {
  display: flex;
}

.sort-link {
  color: $white;
  text-decoration: none;
}

.sort-link:hover {
  color: $white;
  text-decoration: underline;
}
