$gray: rgb(183, 182, 182);
$organization-name-color: rgb(74, 72, 72);

main {
  border: 2px solid $gray;
  border-radius: 1em;
  box-shadow: 1px 2px $gray;
  margin: auto;
  margin-top: 20px;
  padding: 24px;
  width: 75%;
}

.organization-name {
  color: $organization-name-color;
  margin-left: 20px;
}
